@page "/top-tracks"
@inject NavigationManager NavManager
@inject State.AppState AppState

<div class="top-history">
    <ListPage Title="Top Tracks" ImageUrl="@ImageUrl">
        <div>
            <TimeRangeSelector OnChange="OnChangeTimeRange"></TimeRangeSelector>

            @if (AppState.TopTracks.Any())
            {
                @foreach (var track in AppState.TopTracks)
                {
                    <TopHistoryTrack Track="@track" />
                }
            }

        </div>
    </ListPage>
</div>

@code {

    public string ImageUrl { get { return $"{NavManager.ToAbsoluteUri(NavManager.BaseUri)}/img/top-tracks.jpg"; } }

    protected override async Task OnInitializedAsync()
    {
        if (AppState.SpotifyClient == null)
        {
            NavManager.NavigateTo("/");
            return;
        }

        await AppState.InitiliazeTopTracks();

        AppState.SetTopTracks(SpotifyAPI.Web.PersonalizationTopRequest.TimeRange.LongTerm);
    }


    public void OnChangeTimeRange(SpotifyAPI.Web.PersonalizationTopRequest.TimeRange timeRange)
    {
        AppState.SetTopTracks(timeRange);
    }


}
