@page "/top-tracks"

<div class="top-history">
    <ListPage Title="Top Tracks" ImageUrl="https://localhost:44374/img/top-tracks.jpg">
        <div>
            <TimeRangeSelector />
            <TopHistoryTrack />
        </div>
    </ListPage>
</div>

@code {
}
