@page "/top-artists"

<div class="top-history">
    <ListPage Title="Top Artists" ImageUrl="https://localhost:44374/img/top-artists.jpg">
        <div>
            <TimeRangeSelector />                   
            <TopHistoryArtist />          
        </div>
    </ListPage>
</div>

@code {   
}


