@page "/top-artists"
@inject NavigationManager NavManager
@inject State.AppState AppState

<div class="top-history">
    <ListPage Title="Top Artists" ImageUrl="@ImageUrl">
        <div>
            <TimeRangeSelector OnChange="OnChangeTimeRange"></TimeRangeSelector>
            @foreach (var artist in AppState.TopArtists)
            {
                <TopHistoryArtist Artist="@artist" />
            }

        </div>
    </ListPage>
</div>

@code {

    public string ImageUrl { get { return $"{NavManager.ToAbsoluteUri(NavManager.BaseUri)}/img/top-artists.jpg"; } }




    protected override async Task OnInitializedAsync()
    {
        if (AppState.SpotifyClient == null)
        {
            NavManager.NavigateTo("/");
            return;
        }

        await AppState.InitiliazeTopArtistss();

        AppState.SetTopArtists(SpotifyAPI.Web.PersonalizationTopRequest.TimeRange.LongTerm);
    }

    public void OnChangeTimeRange(SpotifyAPI.Web.PersonalizationTopRequest.TimeRange timeRange)
    {
        AppState.SetTopArtists(timeRange);
    }
}


