@page "/recently-played"

@inject NavigationManager NavManager

<div class="play-history">
    <ListPage Title="Recently Played" ImageUrl="@ImageUrl">
        <div>
            <PlayHistoryItem />
        </div>
    </ListPage>
</div>

@code {
    public string ImageUrl { get { return $"{NavManager.ToAbsoluteUri(NavManager.BaseUri)}/img/recently.jpg"; } }
}
