@page "/recently-played"

<div class="play-history">
    <ListPage Title="Recently Played" ImageUrl="https://localhost:44374/img/recently.jpg">
        <div>
            <PlayHistoryItem />
        </div>
    </ListPage>
</div>

@code {

}
