@inherits LayoutComponentBase

<head>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900,900i" rel="stylesheet" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
</head>

<div class="App">
    <div class="App-container">
        <NavMenu />

        <PlaylistPopup />

        <div class="App-content">
            @Body
        </div>
    </div>
</div>


