
<div class="App-navigation">
    <NavLink class="app-icon" href="">
        <img src="img/replayify-icon.png" alt="" />
    </NavLink>
    <NavLink class="App-navigation__link">
        <span class="icon ion-android-star-outline" />
        <span class="navigation__label">Top Artists</span>
    </NavLink>
    <NavLink class="App-navigation__link">
        <span class="icon ion-android-favorite-outline" />
        <span class="navigation__label">Top Tracks</span>
    </NavLink>
    <NavLink class="App-navigation__link">
        <span class="icon ion-android-time" />
        <span class="navigation__label">Recent</span>
    </NavLink>
</div>


@code {
    
}
