<a class="play-history__item">
    <span class="play__info">
        <ListItemCoverImage/>

        <span class="play__summary">
            <span class="play__artist">Play artist name will be here</span>
            <span class="play__separator">●</span>
            <span class="play__track-name">Track name will be here </span>
        </span>
    </span>
    <span class="play__time">12:00</span>
</a>

@code {

}
