<a class="artist-history__item" href="">
    <span class="order-number">1</span>
    <span class="track__info">
        <ListItemCoverImage />
        <span class="track__summary">
            <span className="track__artist">Track artist will be here</span>
            <span className="track__separator">●</span>
            <span className="track__track-name">Track name will be here</span>
        </span>
    </span>
</a>

@code {

}