<a class="artist-history__item" href="">
    <span class="order-number">1</span>
    <span class="artist__info">
        <ListItemCoverImage />
        <span class="artist__summary">
            <span class="artist__name">artistname will be here</span>
            <span class="artist__genres">
                Genres will be here
            </span>
        </span>
    </span>
</a>

@code {

}
