@using Blazify.Client.Dtos

<a class="track-history__item" href="">
    <span class="order-number">@Track.Position</span>
    <span class="track__info">
        <ListItemCoverImage ImageUrl="@Track.ImageUrl" />
        <span class="track__summary">
            <span class="track__artist">@Track.Artist</span>
            <span class="track__separator">●</span>
            <span class="track__track-name">@Track.Name</span>
        </span>
    </span>
</a>

@code {
    [Parameter]
    public TrackDto Track { get; set; }
}