<div class="top-history">
    <ListPage Title="@Title">
        <div>
            <TimeRangeSelector  />      
            
            <TopHistoryArtist />
                  
        </div>
    </ListPage>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
}
